
*
!.gitignore
!README.md
!BepInEx/
!BepInEx/**
!doorstop_config.ini
!winhttp.dll

BepInEx/LogOutput.log
BepInEx/cache/
BepInEx/cache/**
BepInEx/plugins/3rdPerson.dll
BepInEx/plugins/ControlCompany.dll
BepInEx/plugins/ControlCompanyFilter.dll

!external_mods.txt

BepInEx/plugins/externals/
BepInEx/plugins/externals/**

